.cmd{
  color: blue;
  background: yellow;
  padding: 5px;
  margin: 10px;
}

.cmd:before{
  content: 'cmd >  '
}


.warning{
  padding: 5px;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 3px;
  margin: 10px;
}

.warning:before{
  content : 'ATTENTION : ';
}
